// HARTSFIELD DESIGN
// COLOR REFERENCES

// BLUE
$hd-blue: #1f5673;
$hd-blue-light: lighten($hd-blue, 5%);
$hd-blue-dark: darken($hd-blue, 5%);

// DARK GREEN
$hd-darkgreen: #546d64;
$hd-darkgreen-light: lighten($hd-darkgreen, 5%);
$hd-darkgreen-dark: darken($hd-darkgreen, 5%);

// LIGHT GREEN
$hd-lightgreen: #3c896d;
$hd-lightgreen-light: lighten($hd-lightgreen, 5%);
$hd-lightgreen-dark: darken($hd-lightgreen, 5%);