// HARTSFIELD DESIGN
// GLOBAL STYLING

* {
	margin: 0%;
	padding: 0%;
}

html {
	height: auto;
	width: 100vw;
	font-family: Helvetica, Arial, sans-serif;
	color: #ffffff;
}

body {}

#content-wrapper {
	height: auto;
	width: auto;
}

section {
	height: auto;
	width: 100%;
	display: block;
	padding: 4%;
	box-sizing: border-box;
	border-bottom: 2px solid #ffffff;
}

.clearfix {
	zoom: 1;

	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.clear {
	clear: both;
}